[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL/
[submodule "lib/sdl_ttf"]
	path = lib/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "lib/sdl_image"]
	path = lib/sdl_image
	url = https://github.com/libsdl-org/SDL_image
